<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pait.smartpos">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".FirstActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bluetooth_printer.PrinterOptions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bluetooth_printer.SearchNewDevice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CashMemoActivityR"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".AddTableMasterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".AddProductMasterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".SettingsOptionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".UpdateProductMasterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DrawerTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewAppTheme" />

        <receiver android:name=".broadcastreceivers.DateChangeBroadcastReceiver" />
        <receiver
            android:name=".CheckOTPActivity$MySMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TaxMasterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Change_TaxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNewTaxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Repo_Collection_Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Repo_Itemwise_SaleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Repo_Todays_SaleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".UpdateTableMasterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateTableGSTActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateGSTDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddGSTActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateTableNameGSTActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImportMasterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MasterUpdationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCategoryMasterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckOTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ContactUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DataBackupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".drive.CreateFileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".drive.CreateFolderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".drive.DeleteFileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".drive.RetrieveContentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".BillReprintCancelActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UpdatedBillReportActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CashMemoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".InwardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ExpenseActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ReportMenuActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ExpenseReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReturnMemoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CollectionSumReportActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ProductwiseStockReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ExportOthersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".InwardFirstScreenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".InwardReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".InwardDetailActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>